<template>
  <div class="signup">
    <div class="signup__inner">
      <form class="signup__form">
        <div class="signup--logo">
          <span class="highlight">you've got mail again</span>
        </div>
        <div class="signup__form__attr">
          <label class="signup__form__attr--label">USERNAME</label>
          <input name="username" type="text" class="signup__form__attr--input" v-model="email" placeholder="e.g., CSchroeder"/>
        </div>
        <!-- <div class="signup__form__attr">
          <label class="signup__form__attr--label">DATE OF BIRTH</label>
          <input required class="signup__form__attr--input" type="date" v-model="dob" />
        </div>-->
        <div class="signup__form__multi">
          <div class="signup__form__multi__attr">
            <label class="signup__form__attr--label">DATE OF BIRTH</label>
            <select v-model="mm" class="signup__form__attr--input" style="background-color: white;">
              <option value selected disabled>Month</option>
              <option :value="item" v-for="(item, index) in 12" :key="index">{{item}}</option>
            </select>
          </div>
          <div class="signup__form__multi__attr">
            <label class="signup__form__attr--label" style="visibility: hidden">.</label>
            <select
              v-model="yyyy"
              class="signup__form__attr--input"
              style="background-color: white;"
            >
              <option value selected disabled>Year</option>
              <option :value="year" v-for="year in yearsRange" :key="year">{{year}}</option>
            </select>
          </div>
        </div>
        <div class="signup__form__attr">
          <label class="signup__form__attr--label">STATE</label>
          <select v-model="state" class="signup__form__attr--input">
            <option
              :value="country"
              v-for="(country, index) in countryList"
              :key="index"
            >{{country}}</option>
          </select>
          <!-- <multiselect
            name="state"
            :show-labels="false"
            :optionHeight="32"
            :options="countryList"
            v-model="state"
            :value="state"
            :blockKeys="['tab', 'enter']"
          ></multiselect>-->
          <!-- <div class="signup__form__multi">
              
            <div class="signup__form__multi__attr">
              <label class="signup__form__attr--label">US STATE</label>
            
            </div>
          </div>-->
        </div>

        <div class>
          <label class="signup__form__attr--label">GENDER</label>
          <div class="popup__checkboxes__col popup__right">
            <div class="popup__checkbox__cont">
              <input type="radio" id="male" value="Male" v-model="gender" />
              <label for="male">Male</label>
            </div>
            <div class="popup__checkbox__cont">
              <input type="radio" id="female" value="Female" v-model="gender" />
              <label for="female">Female</label>
            </div>
            <!-- <div class="popup__checkbox__cont">
              <input type="radio" id="other" value="Other" v-model="gender" />
              <label for="other">Other</label>
            </div> -->
          </div>
        </div>

        <div class="signup__form__attr">
          <label class="signup__form__attr--label">PASSWORD</label>
          <input
            name="password"
            type="password"
            class="signup__form__attr--input"
            v-model="password"
          />
        </div>

        <div v-if="!loading" class="signup__form__attr">
          <button class="signup__form__attr--submit" @click.prevent="signUpAndValidate">SIGN UP</button>
        </div>
        <div v-else class="login__form__attr">
          <button class="login__form__attr--submit">
            <img src="@/assets/loading.gif" style="vertical-align: sub; width: 17px;" />
            Loading...
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
var UsStates = [
  "Alabama",
  "Alaska",
  "Arizona",
  "Arkansas",
  "California",
  "Colorado",
  "Connecticut",
  "Delaware",
  "Florida",
  "Georgia",
  "Hawaii",
  "Idaho",
  "Illinois",
  "Indiana",
  "Iowa",
  "Kansas",
  "Kentucky",
  "Louisiana",
  "Maine",
  "Maryland",
  "Massachusetts",
  "Michigan",
  "Minnesota",
  "Mississippi",
  "Missouri",
  "Montana",
  "Nebraska",
  "Nevada",
  "New Hampshire",
  "New Jersey",
  "New Mexico",
  "New York",
  "North Carolina",
  "North Dakota",
  "Ohio",
  "Oklahoma",
  "Oregon",
  "Pennsylvania",
  "Rhode Island",
  "South Carolina",
  "South Dakota",
  "Tennessee",
  "Texas",
  "Utah",
  "Vermont",
  "Virginia",
  "Washington",
  "West Virginia",
  "Wisconsin",
  "Wyoming"
];

// import axios from 'axios';
export default {
  data() {
    return {
      dob: "",
      countryList: UsStates,
      fullName: "",
      email: "",
      yyyy: "",
      mm: "",
      dd: "0",
      state: "",
      city: "",
      password: "",
      loading: false,
      gender: ""
    };
  },
  computed: {
    yearsRange() {
      const startYear = 1905;
      const currentYear = new Date().getFullYear();
      const years = [];
      for (let i = currentYear; i >= startYear; i--) {
        years.push(i);
      }
      return years;
    }
  },
  methods: {
    // CALCULATE THE PERSON AGE
    calculateAge() {
      const today = new Date();
      let age = today.getFullYear() - this.yyyy;
      const mon = today.getMonth() - this.mm;
      if (mon < 0 || (mon === 0 && today.getDate() < this.dd)) age--;
      if (age < 13) return false;
      else return true;
    },
    // SPLITTING THE DOB FROM THE INPUT[DATE]
    splitDOB() {
      [this.yyyy, this.mm, this.dd] = this.dob.split("-");
    },
    // DISPLAY TOAST MSG
    validityCheck(ldCheck, validMsg) {
      this.$toasted.error(validMsg);
      this.loading = ldCheck;
    },
    lengthChk(str, limit) {
      if (str.length < limit) {
        return true;
      } else false;
    },
    // CHECK IF ANY INPUT IS EMPTY IN THE FORM
    formValidity() {
      if (!this.email) return "Enter a Username";
      else if (this.email.includes(" ")) return "Username should be one word";
      else if (this.lengthChk(this.email, 4))
        return "Username is not strong enough";
      else if (!this.calculateAge()) return "You must be at least 13 years old.";
      else if (!this.mm) return "Select Month of Birth";
      else if (!this.yyyy) return "Select Year of Birth";
      else if (!this.state) return "Select Us State";
      else if (!this.password) return "Enter Password";
      else if (this.lengthChk(this.password, 8))
        return "Password should atleast 8 characters long";
      else if (!this.gender) return "Enter Gender";
      return "";
    },
    // AXIOS REQUEST AND THE VALIDATION
    signUpAndValidate() {
      this.loading = true;
      // this.splitDOB();
      if (this.formValidity()) {
        this.validityCheck(false, this.formValidity());
        return;
      }
      this.$axios
        //  .post("http://localhost:3000/signup", {
        .post("https://api.youvegotmailagain.com/signup", {
          // .post("https://killmatch.herokuapp.com/signup",{
          username: this.email,
          password: this.password,
          country: this.state,
          month: this.mm,
          year: this.yyyy,
          gender: this.gender
        })
        .then(response => {
          this.loading = false;
          localStorage.setItem("token", response.data.access_token);
          localStorage.setItem("id", response.data.id);

          if ("message" in response.data) {
            this.validityCheck(false, "Username already exists.");
            // this.$toasted.error("Email already exist");
          } else {
            this.$toasted.success("You are successfully loged in");
            this.$router.push("/updateprofile");
          }
        })
        .catch(error => {
          error;
          this.validityCheck(false, "Error in Sign Up");
        });
    }
  },
  mounted() {
    console.log(this.yearsRange);
  }
};
</script>

<style lang="scss">
$color-white: #fff;
$color-secondary: #6c587b;
$color-text: #555;

.signup {
  width: 100%;
  &__inner {
    padding: 8rem 0;
  }
  &--logo {
    color: $color-text;
    font-size: 25px;
    display: block;
    letter-spacing: 1.05px;
    text-align: center;
    padding: 3rem 0 1.5rem 0;
    font-weight: 700;
  }
  &__form {
    background-color: $color-white;
    border-radius: 1.2rem;
    margin: 0 auto;
    max-width: 45rem;
    overflow: hidden;
    padding: 0 5rem;
    &__multi {
      padding-bottom: 1.7rem;
      display: flex;
      flex-direction: row;
      &__attr {
        width: 100%;
      }
      &__attr:not(:last-child) {
        padding-right: 3rem;
      }
      option {
      }
    }
    &__attr {
      padding-bottom: 1.7rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: $color-text;
      &--label {
        color: #555;
        font-size: 1.2rem;
        display: block;
        padding: 0 0 5px 1rem;
      }
      &--input {
        outline: none;
        display: block;
        width: 100%;
        padding: 1.1rem 1rem;
        font-size: 1.6rem;
        color: #666;
        background-color: #fff;
        border: 2px solid rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
      }
      &--submit {
        background-color: $color-secondary;
        color: $color-white;
        border: none;
        outline: none;
        border-radius: 12px;
        width: 100%;
        font-weight: 700;
        font-size: 1.3rem;
        margin: 1.4rem 0 0rem 0;
        text-align: center;
        padding: 1.4rem;
        margin-bottom: 2rem;
      }
    }
  }
}

.noUi-connect {
  background-color: #c06c84 !important;
}
@keyframes popup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.popup {
  z-index: 1200;
  font-size: 1.4rem;
  color: #555;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.1);
  &--heading {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 400;
    color: #c06c84;
    font-size: 2.5rem;
    padding-bottom: 1rem;
  }
  &__inner {
    margin: auto;
    animation: popup ease-in 0.1s forwards;
    max-width: 45rem;
    position: relative;
    flex: 1;
    padding: 4rem 3rem 2.5rem;
    background-color: #fff;
    border-radius: 7px;
  }
  &__cancel {
    color: #555;
    position: absolute;
    top: 1rem;
    right: 2rem;
    cursor: pointer;
  }
  &__row {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding-bottom: 3.5rem;
  }
  &--label {
    flex: 1;
    font-size: 1.7rem;
  }
  &__right {
    flex: 2;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    padding-left: 2rem;
    &__slider {
      flex: 1;
      display: flex;
    }
  }
  &__checkbox__cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 33%;
    margin-bottom: 1.2rem;
    label {
      padding-left: 4px;
    }
  }
  &__select {
    width: 100%;
    outline: none;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #f2f2f2;
    font-size: 1.7rem;
    color: #555;
  }
  &__button__select {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex: 1;
    padding-top: 1rem;
    button {
      background: #c06c84;
      color: #fff;
      margin-left: auto;
      text-transform: capitalize;
      border: none;
      padding: 0.9rem 2rem;
      border-radius: 7px;
      font-size: 1.6rem;
      cursor: pointer;
    }
  }
}
</style>