<template>
  <div class="block">
    <div class="block__inner">
      <div class="block-card">
        <template v-for="item in blockedProfiles">
          <div :key="item.id" class="block-card__item">
            <div class="block-card__item--img">
                <img v-if="!item.profile_photo" src="../../assets/person.png" />
              <img v-else v-bind:src="item.profile_photo" />
            </div>
            <div class="block-card__item__content">
              <div class="block-card__item--user">{{item.username}}</div>
              <div class="block-card__item--unblock">
                <a @click="unblockUser(item.id)">Unblock</a>
              </div>
            </div>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import swal from 'sweetalert';
export default {
  data() {
    return {
      blockedProfiles: []
    };
  },
  methods: {
    unblockUser(unblockId) {
      const self = this;
      this.axios
        .get("https://api.youvegotmailagain.com/unblock", {
          params: {
            user_1: localStorage.getItem("id"),
            user_2: unblockId
          }
        })
        .then(() => {
          this.$toasted.success("Successfully Unblocked");
          self.blockedProfiles = self.blockedProfiles.filter(
            profile => profile.id != unblockId
          );
          console.log(self.blockedProfiles, "-----------------");
           this.$router.push("/home");
        })
        .catch(error => {
          this.$toasted.error("Unblocking Failed");
          console.log(error);
        });
    }
  },
  created() {
    console.log(localStorage.getItem("id"));
    this.axios
      .get("https://api.youvegotmailagain.com/block_user", {
        params: { user_id: localStorage.getItem("id") }
      })
      .then(response => {
        console.log("Blocked users are: ", response.data)
        if(response.data == "Empty"){
          swal("You don't have any blocked user yet. Go to Find Connections to find someone to block!")
          .then(() => {
           this.$router.push("/home");
            });
        }
        this.blockedProfiles = response.data;
      })
      .catch(error => {
        console.log(error);
      });
  }
};
</script>

<style lang="scss">
@media screen and (max-width: 1220px) {
  .block {
    &__inner {
      padding: 3rem !important;
    }
  }
}

@media screen and (max-width: 940px) {
  .block-card {
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
    grid-gap: 2rem !important;
  }
}

@media screen and (max-width: 700px) {
  .block-card {
    grid-template-columns: 1fr 1fr 1fr !important;
  }
}

@media screen and (max-width: 500px) {
  .block {
    &__inner {
      padding: 1.5rem !important;
    }
  }
  .block-card {
    grid-template-columns: 1fr !important;
    grid-auto-flow: row !important;
    grid-gap: 1rem !important;
    &__item {
      display: flex;
      flex-direction: row !important;
      &--img {
        height: 13rem !important;
        width: 30% !important;
      }
      &__content {
        flex: 1;
      }
    }
  }
}

.block {
  width: 100%;
  &__inner {
    margin: 0 auto;
    max-width: 120rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
.block-card {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 5fr));
  &__item {
    cursor: pointer;
    background-color: #f5f5f5;
    border: 1px solid #dedede;
    border-radius: 13px;
    overflow: hidden;
    text-decoration: none;
    &--img {
      height: 17rem;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__content {
      padding: 1.5rem 2rem;
      color: #555;
    }
    &--user {
      font-size: 1.8rem;
      padding-bottom: 1rem;
    }
    &--unblock {
      display: flex;
      a {
        padding: 0.7rem 1rem;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        margin-left: auto;
        background-color: rgb(50, 180, 67);
        text-decoration: none;
        font-size: 1.5rem;
        color: #fff;
        text-align: right;
      }
    }
  }
}
</style>