<template>
  <div class="chat">
    <div v-if="dataLoading" class="chat__inner">
      <loading-gif />
    </div>
    <div v-else class="chat__inner">
      <div class="chat__msgs" v-show="msgs">
        <h1 class="chat__msgs--title">MESSAGES</h1>
        <div class="chat__msgs--items">
          <template v-for="(item) in sideBar">
            <router-link
              class="no-decoration"
              :key="item.id"
              :to="{ name: 'Chat', params: { id2: item.id } }"
            >
              <div class="chat__msgs--msg" @click="requestData(item.id)">
                <router-link
                  class="chat__msgs--msg--img"
                  :to="{ name: 'SuspectProfile', params: { id: item.id } }"
                  tag="span"
                  :alt="item.name"
                >
                  <img v-if="!item.profile_photo" src="../../assets/person.png" />
                  <img v-else v-bind:src="item.profile_photo" />
                </router-link>
                <span class="chat__msgs--msg--descr">
                  <div class="chat__msgs--msg--name">{{item.username}}</div>
                  <div
                    class="chat__msgs--msg--new"
                    v-if="item.last_message.length<25"
                  >{{item.last_message}}</div>
                  <div
                    class="chat__msgs--msg--new"
                    v-else
                  >{{item.last_message.substring(0,25)+"..."}}</div>
                </span>
                <!-- <div class="chat__msgs--dropdown">
                  <div class="chat__msgs--dropdown-inner">
                    <div class="chat__msgs--dropdown--icon">
                      <span class="material-icons">expand_more</span>
                    </div>
                    <div class="chat__msgs--dropdown--drop">
                      <ul class="chat__msgs--dropdown--list">
                        <li
                          class="chat__msgs--dropdown--item"
                          @click.stop="blockUser(item.id)"
                        >Block User</li>
                      </ul>
                    </div>
                  </div>
                </div>-->
              </div>
            </router-link>
          </template>
        </div>
      </div>
      <div class="chat__chatting" v-show="chatting">
        <div
          class="chat__chatting--go-back"
          v-if="goback"
          @click="
            msgs = true;
            chatting = false;
          "
        >
          <i class="large material-icons">arrow_back</i>
        </div>
        
          <div class="stick chat__chatting__header">
            <router-link
              class="chat__chatting__header--img"
              :to="{ name: 'SuspectProfile', params: { id: user2 } }"
              tag="div"
            >
              <img v-if="!recieverData.profile_photo" src="../../assets/person.png" />
              <img v-else v-bind:src="recieverData.profile_photo" />
            </router-link>
            <!-- <div class="chat__chatting__header--img">
              <img v-if="!recieverData.profile_photo" src="../../assets/person.png" />
              <img v-else v-bind:src="recieverData.profile_photo" />
            </div>-->
            <div class="chat__chatting__header--descr">
                <router-link :to="{ name: 'SuspectProfile', params: { id: user2 } }" tag="div">
                <div class="chat__chatting__header--name">{{recieverData.username}}</div>
              </router-link>
              <div class="chat__chatting__header--location">{{recieverData.country}}</div>
              <div class="chat__chatting__header--age">Age {{recieverData.age}}</div>
            </div>
          </div>
          <div class="chat__scrollable-chat" v-chat-scroll>
          <div class="chat__chatting__body">
            <template v-for="(msg,index)  in messages">
              <div
                v-if="msg.name == myId || msg.sender_id == myId"
                class="chat__chatting__body--sent-msg"
                :key="index"
              >
                <div class="chat__chatting__body--msg--img" :key="index">
                  <!-- <img src="../../assets/person.png" /> -->
                  <!-- <img v-bind:src=recieverData.profile_photo /> -->
                </div>
                <div class="chat__chatting__body--sent-msg--text">{{ msg.message }}</div>
              </div>

              <div v-else class="chat__chatting__body--rcv-msg" :key="index">
                <div class="chat__chatting__body--msg--img" :key="index">
                  <img v-if="!recieverData.profile_photo" src="../../assets/person.png" />
                  <img v-else v-bind:src="recieverData.profile_photo" />
                </div>
                <div class="chat__chatting__body--rcv-msg--text">{{ msg.message }}</div>
              </div>
            </template>
          </div>
        </div>
        <div class="chat__chatting__footer">
          <textarea
            rows="1"
            class="chat__chatting__footer--textfield"
            placeholder="Type Message Here"
            v-model="message"
            @keyup.13="sendMessage"
            v-on:keyup.enter="sendMessage"
          />
          <div class="chat__chatting__footer--send-btn" @click.prevent="sendMessage">Send</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import LoadingGif from "../../components/loadingGif.vue";
import io from "socket.io-client";
export default {
  name: "chating",
  props: ["id2"],
  data() {
    return {
      msgs: true,
      chatting: false,
      goback: false,
      user2: "",
      myId: "",
      message: "",
      myMsg: "",
      textMessage: "",
      roomName: "",
      userID: "",
      messages: [],
      recieverData: "",
      sideBar: [],
      dataLoading: true,
      socket: io("https://api.youvegotmailagain.com")
      // socket: io("http://64.202.184.139:3000")
    };
  },
  components: {
    loadingGif: LoadingGif
  },
  // computed: {

  // },
  mounted() {
    this.watchWindow();
    this.watchWindowMobile(this.$route.params.chat);
    this.user2 = localStorage.getItem("receiverId");
    this.myId = localStorage.getItem("id");
    // 2.this.requestData(this.user2, this.myId);
    this.dataLoading = true;
    console.log("id from browser storage in chat: ", this.myId);
    console.log("id of reciever in chat: ", this.user2);
    this.$axios
      .get("https://api.youvegotmailagain.com/create_room", {
        params: {
          user_1: this.myId,
          user_2: this.user2
        }
      })
      .then(response => {
        this.dataLoading = false;
        // this.dataLoading = true;
        console.log("profiles: ", response);
        console.log("room name: ", response.data.roomName);
        this.roomName = response.data.roomName;
        console.log("user id: ", response.data.userID);
        this.userID = response.data.userID;
        console.log("messages: ", response.data.data);
        this.messages = response.data.data;
        console.log("reciever_data", response.data.reciever_data[0]);
        this.recieverData = response.data.reciever_data[0];
        console.log("sideBar data: ", response.data.sidebar_data);
        this.sideBar = response.data.sidebar_data;

        this.socket.emit("new-user", this.roomName, this.userID);
      })
      .catch(error => {
        this.dataLoading = false;
        console.log("error:", error);
      });

    this.socket.on("chat-message", data => {
      console.log("messages from socket in chat: ", data);
      this.conversations = data.conversations;
      console.log("conversations in chat : ", this.conversations);
      this.messages = [...this.messages, data];
      // you can also do this.messages.push(data)
    });
    this.socket.on("user-connected", name => {
      console.log(name + " connected");
    });

    this.socket.on("user-disconnected", name => {
      console.log(name + "user disconnected");
    });

    console.log("check route: ", this.$route.params);
  },
  methods: {
    blockUser(blockingId) {
      console.log("checking if blocked ------");
      console.log("user_1: ", localStorage.getItem("id"));
      console.log("user_2: ", blockingId);
      this.$axios
        .post(
          `https://api.youvegotmailagain.com/discover/block?user_1=${localStorage.getItem(
            "id"
          )}&user_2=${blockingId}`
        )
        .then(response => {
          console.log(response);
          this.$toasted.success("This user is blocked");
        })
        .catch(error => {
          console.log(error);
          this.$toasted.error("blocking faild");
        });
    },
    watchWindow() {
      if (window.outerWidth < 620) {
        this.msgs = true;
        this.chatting = false;
      } else {
        this.msgs = true;
        this.chatting = true;
        this.goback = false;
      }
    },
    watchWindowMobile(check) {
      if (check) {
        if (window.outerWidth < 620) {
          this.msgs = false;
          this.chatting = true;
          this.goback = true;
        }
      }
    },
    sendMessage(e) {
      if (!this.messages.length) {
        console.log("hello");
      }
      if (this.message != "") {
        e.preventDefault();
        console.log("send message button pressed");
        this.socket.emit(
          "send-chat-message",
          this.roomName,
          this.userID,
          this.message
        );
        this.message = "";
      }
    },
    requestData(recieverId) {
      this.watchWindowMobile(true);
      this.dataLoading = true;
      console.log("id from browser storage in chat: ", this.myId);
      console.log("id of reciever in chat: ", recieverId);
      localStorage.setItem("receiverId", recieverId);
      this.user2 = localStorage.getItem("receiverId");
      this.$axios
        .get("https://api.youvegotmailagain.com/create_room", {
          params: {
            user_1: this.myId,
            user_2: this.user2
          }
        })
        .then(response => {
          this.dataLoading = false;
          console.log("profiles: ", response);
          console.log("room name: ", response.data.roomName);
          this.roomName = response.data.roomName;
          console.log("user id: ", response.data.userID);
          this.userID = response.data.userID;
          console.log("messages: ", response.data.data);
          this.messages = response.data.data;
          console.log("reciever_data", response.data.reciever_data[0]);
          this.recieverData = response.data.reciever_data[0];
          console.log("sideBar data: ", response.data.sidebar_data);
          this.sideBar = response.data.sidebar_data;

          this.socket.emit("new-user", this.roomName, this.userID);
        })
        .catch(error => {
          this.dataLoading = false;
          // this.dataLoading = true;
          console.log("error:", error);
        });
    }
  }
};
</script>

<style lang="scss">
.stick {
  position: sticky;
  top: 0px;
  // z-index: 3;
}
$color-primary: #c06c84;
$color-secondary: #35477d;
$color-text: #555;

@media screen and (max-width: 1100px) {
  .chat {
    &__msgs {
      &--msg {
        &--img {
          width: 4.5rem;
          height: 4.5rem;
        }
        &--name {
          font-size: 2rem !important;
        }
        &--new {
          font-size: 1.8rem !important;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .chat {
    &__chatting {
      flex: 2 !important;
      flex-grow: 2 !important;
    }
  }
}

@media screen and (max-width: 620px) {
  .chat__msgs {
    margin-right: 0 !important;
  }
}

.chat {
  background-color: #f3f3f3;
  height: 89.2vh;
  width: 100%;
  &__inner {
    padding: 0.8rem 1.2rem;
    display: flex;
    height: 100%;
  }
  &__msgs {
    flex: 1;
    border-radius: 4px;
    flex-grow: 1;
    flex-shrink: 1;
    overflow-x: auto;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    margin-right: 1.2rem;
    &--title {
      text-transform: uppercase;
      color: $color-secondary;
      font-weight: 400;
      font-size: 2.4rem;
      text-align: center;
      padding: 2.5rem 1rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    &--msg {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      // border-radius: 1.5rem;
      position: relative;
      z-index: 500;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 1.2rem 1.2rem;
      transition: all 0.2s ease-in;
      position: relative;
      &:hover {
        background-color: #eee;
      }
      &--img {
        width: 5.5rem;
        height: 5.5rem;
        overflow: hidden;
        border-radius: 50%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &--descr {
        display: flex;
        flex-direction: column;
        padding-left: 1.5rem;
        padding-bottom: 0.5rem;
      }
      &--name {
        color: $color-text;
        font-size: 1.7rem;
      }
      &--new {
        padding-top: 0.1rem;
        font-size: 1.4rem;
        font-weight: 700;
        color: #5296a1;
      }
    }
    &--dropdown {
      margin-top: -1rem;
      position: absolute;
      z-index: 1000;
      right: 1.7rem;
      z-index: 700;
      top: 50%;
      transform: translateY(-50%);
      &--icon {
        position: relative;
        z-index: 600;
      }
      &-inner {
        position: relative;
        z-index: 600;
      }
      .material-icons {
        position: relative;
        z-index: 600 !important;
        font-size: 3.3rem;
        color: #5296a1;
      }
      &--drop {
        position: relative;
        display: block;
        z-index: 900;
      }
      &--list {
        z-index: 1000;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        position: absolute;
        top: -10px;
        right: 0;
        list-style-type: none;
        text-decoration: none;
        background-color: #fff;
        color: #555;
        text-transform: capitalize;
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        width: 11.5rem;
        border: 0.5px solid rgba(0, 0, 0, 0.1);
      }
      &--item {
        z-index: 1100;
        position: relative;
        z-index: 900;
        font-size: 1.5rem;
        cursor: pointer;
        padding: 7px 1rem;
        color: #555;
        font-weight: 400;
        &:not(:last-child) {
          border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
        }
        &:hover {
          background-color: #5296a19d;
          color: #fff;
        }
      }
    }
  }
  &__scrollable-chat {
    overflow-y: auto;
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    &::-webkit-scrollbar {
      border-radius: 200px;
      overflow: hidden;
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $color-primary;
      border-radius: 50px;
    }
  }
  &__chatting {
    border-radius: 4px;
    flex: 3;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-flow: column;
    flex-grow: 3;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    &--go-back {
      color: #eee;
      font-size: 2.5rem;
      position: absolute;
      top: 1.5rem;
      display: flex;
      left: 2rem;
      border-radius: 7px;
      padding: 2px;
      background-color: #555;
      i {
        margin: auto;
      }
    }
    &__header {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 2rem 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      &--img {
        width: 11rem;
        height: 11rem;
        overflow: hidden;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 1.5rem;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &--descr {
        padding-top: 1rem;
      }
      &--name {
        font-size: 2.2rem;
        color: $color-text;
        padding-bottom: 0.6rem;
      }
      &--location,
      &--age {
        color: rgb(163, 163, 163);
        font-size: 1.5rem;
        display: block;
      }
    }

    &__body {
      padding: 0rem 2rem 2rem;
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: flex-end;
      &--msg--img {
        width: 3.5rem;
        height: 3.5rem;
        overflow: hidden;
        border-radius: 50%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &--rcv-msg {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #fff;
        &--text {
          margin: 0.5rem 2.5rem;
          font-size: 1.7rem;
          border-radius: 10px;
          background-color: #5296a1;
          max-width: 55%;
          min-width: 15%;
          line-height: 140%;
          padding: 0.7rem 1.5rem;
        }
      }
      &--sent-msg {
        align-items: center;
        display: flex;
        flex-flow: row-reverse;
        &--text {
          color: #fff;
          height: auto;
          max-width: 55%;
          min-width: 15%;
          line-height: 140%;
          font-size: 1.7rem;
          border-radius: 10px;
          margin: 0.5rem 2.5rem;
          padding: 0.7rem 1.5rem;
          background-color: #75a335;
        }
      }
    }

    &__footer {
      background-color: #f9f9f9;
      display: flex;
      flex-direction: row;
      position: sticky;
      padding: 14px;

      &--textfield {
        font-size: 1.9rem;
        max-width: 100%;
        resize: none;
        width: 100%;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        outline: none;
        padding: 9px 5px 0 5px;
        font-family: inherit;
        color: #555;
        margin-right: 1.2rem;
      }
      &--send-btn {
        color: #fff;
        background: $color-secondary;
        font-size: 1.9rem;
        border-radius: 10px;
        padding: 10px 20px;
      }
    }
  }
}
</style>