<template>
  <div class="starter__container">
    <h2 class="starter--heading heading--primary">CONVERSATION STARTERS</h2>
    <ul class="starter__list">
      <li>
        What’s the best piece of advice you’ve ever been given?
        <span class="start__list--idc"></span>
      </li>
      <li>
        If you could tell your younger self what will matter most when you’re “old,” what would that be?
        <span
          class="start__list--idc"
        ></span>
      </li>
      <li>
        In three words, how would you describe yourself?
        <span class="start__list--idc"></span>
      </li>
      <li>
        If you could be anything, what would you be?
        <span class="start__list--idc"></span>
      </li>
      <li>
        How do you define “love”?
        <span class="start__list--idc"></span>
      </li>
      <li>
        How do you define “brave”?
        <span class="start__list--idc"></span>
      </li>
      <li>
        What do you do when you’re worried about something?
        <span class="start__list--idc"></span>
      </li>
      <li>
        What are three things that make you happy?
        <span class="start__list--idc"></span>
      </li>
      <li>
        Who is your closest friend and how did you meet?
        <span class="start__list--idc"></span>
      </li>
      <li>
        If you opened a business, what kind of business would it be?
        <span class="start__list--idc"></span>
      </li>
      <li>
        Who, in your life, brings you the most joy?
        <span class="start__list--idc"></span>
      </li>
      <li>
        Who had the biggest impact on who you have become and why?
        <span class="start__list--idc"></span>
      </li>
      <li>
        Where do you spend most of your free time/day?
        <span class="start__list--idc"></span>
      </li>
      <li>
        What’s your favorite season and why?
        <span class="start__list--idc"></span>
      </li>
      <li>
        What do you bring with you everywhere you go?
        <span class="start__list--idc"></span>
      </li>
      <li>
        What is your favorite number and why?
        <span class="start__list--idc"></span>
      </li>
      <li>
        If you could change your name, what would it be?
        <span class="start__list--idc"></span>
      </li>
      <li>
        What smell brings back great memories?
        <span class="start__list--idc"></span>
      </li>
      <li>
        Who would be the best person to be stuck with in an elevator?
        <span class="start__list--idc"></span>
      </li>
    </ul>
  </div>
</template>

<style lang="scss">
$color-primary: #c06c84;
$color-secondary: #35477d;
$color-text: #555;

.starter {
  &--heading {
    margin-bottom: 3rem;
  }
  &__container {
    padding-top: 4rem;
    max-width: 80rem;
    margin: 0 auto;
  }
  &__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    li {
      color: #fff;
      font-size: 2rem;
      padding: 12px;
      border-radius: 5px;
      margin-bottom: 10px;
      position: relative;
      box-shadow: -5px 7px 5px 4px rgba(0, 0, 0, 0.1);
    }
    span {
      content: "";
      clip-path: polygon(75% 3%, 0 7%, 0 100%);
      display: block;
      position: absolute;
      top: 0;
      right: -2rem;
      width: 2.5rem;
      height: 2.5rem;
      background-color: inherit;
    }
    & li:nth-child(even) {
      margin-right: 4rem;
      background-color: $color-primary;
    }

    & li:nth-child(odd) {
      margin-left: 4rem;
      background-color: $color-text;
    }
  }
}
</style>