<template>
  <div class="discover">
    <div class="discover__inner">
      <div class="discover__no-results" v-if="!profiles[0] && !dataLoading">
        <div
          class="discover__no-results--msg"
        >No Results Meet that criteria. Change The Setting From The Search.</div>
      </div>
      <div v-if="dataLoading" class="cards">
        <loading-gif />
      </div>

      <div v-else class="cards">
        <template v-for="(item, i) in profiles">
          <router-link
            :key="i"
            class="cards__item"
            :to="{ name: 'SuspectProfile', params: { id: item.id } }"
          >
            <div class="cards__item--img">
              <img v-if="!item.profile_photo" src="../../assets/person.png" />
              <img v-else v-bind:src="item.profile_photo" />
            </div>
            <div class="cards__item__content">
              <div class="cards__item--user">{{ item.username }}</div>
              <div
                class="cards__item--descr"
              >Age {{ item.age }}{{ item.gender?`,  ${item.gender} `:"" }}</div>
              <div class="cards__item--address">{{ item.country }}</div>
            </div>
          </router-link>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import LoadingGif from "../../components/loadingGif.vue";
// const LoadingGif = () => import("./../components/LoadingGif.vue");
export default {
  name: "discover",
  data() {
    return {
      profiles: [],
      dataLoading: true,
      id: ""
    };
  },
  components: {
    loadingGif: LoadingGif
  },
  created() {
    // this.dataLoading = false;
    const token = localStorage.getItem("token");
    this.id = localStorage.getItem("id");
    console.log("token from browser storage in discover: ", token);
    console.log("id from browser storage in discover: ", this.id);
    this.$axios
      .get("https://api.youvegotmailagain.com/discover", {
        params: {
          id: this.id
        }
      })
      .then(response => {
        this.dataLoading = false;
        console.log("new profiles: ", response.data);
        this.profiles = response.data;
      })
      .catch(error => {
        this.dataLoading = false;
        console.log("error:", error);
      });
  }
};
</script>

<style lang="scss">
@media screen and (max-width: 1220px) {
  .discover {
    &__inner {
      padding: 3rem !important;
    }
  }
}

@media screen and (max-width: 940px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
    grid-gap: 2rem !important;
  }
}

@media screen and (max-width: 700px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr !important;
  }
}

@media screen and (max-width: 500px) {
  .discover {
    &__inner {
      padding: 1.5rem !important;
    }
  }
  .cards {
    grid-template-columns: 1fr !important;
    grid-auto-flow: row !important;
    grid-gap: 1rem !important;
    &__item {
      display: flex;
      flex-direction: row !important;
      &--img {
        height: 13rem !important;
        width: 30% !important;
      }
      &__content {
        flex: 1;
      }
    }
  }
}

.discover {
  width: 100%;
  &__inner {
    margin: 0 auto;
    max-width: 120rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  &__no-results {
    width: 100%;
    height: 70vh;
    display: flex;
    &--msg {
      color: #777;
      font-size: 4rem;
      margin: auto;
      max-width: 70rem;
      text-align: center;
    }
  }
}
.cards {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 5fr));
  &__item {
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 13px;
    overflow: hidden;
    text-decoration: none;
    &--img {
      height: 17rem;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__content {
      padding: 1.5rem 2rem;
      color: #555;
    }
    &--user {
      font-size: 1.9rem;
    }
    &--descr {
      font-size: 1.4rem;
      font-weight: 700;
      color: #808080;
      padding-bottom: 1.8rem;
    }
    &--address {
      text-align: right;
      font-size: 1.5rem;
      display: block;
      color: #808080;
      font-weight: bold;
      padding-bottom: 0.4rem;
    }
  }
}
</style>