<template>
  <div class="suspect">
    <div v-if="dataLoading" class="suspect__container">
      <loading-gif />
    </div>
    <div v-else class="suspect__container">
      <div class="suspect__left">
        <div class="suspect__left--inner">
          <div class="suspect__profile--img">
            <img v-if="!profile.data.profile_photo" src="../../assets/person.png" />
            <img v-else v-bind:src="profile.data.profile_photo" />
          </div>
        </div>
        <div class="suspect__actions">
          <div class="suspect--action">
            <router-link :to="{ name: 'UpdateProfile', params: { passRouteParam } }">Edit Profile</router-link>
          </div>
          <div class="suspect--action">
            <router-link :to="{name: 'BlockedProfiles'}">Blocked Users</router-link>
          </div>
        </div>
      </div>
      <div class="suspect__right">
        <div class="suspect__user-info">
          <div class="suspect__user-info--name">{{profile.data.username}}</div>
          <br />
          <div
            class="suspect__user-info--address"
          >Age {{profile.data.age}}, {{profile.data.country}}</div>
          <br />
          <br />
          <br />
          <div class="suspect__user-info--address">
            <strong style="padding-right: 8px;">Relationship Status&nbsp;&nbsp;</strong>
            {{profile.data.relationship_status}}
          </div>
          <br />
          <div class="suspect__user-info--address">
            <strong style="padding-right: 8px;">Work Experience&nbsp;&nbsp;</strong>
            {{profile.data.work_experience}}
          </div>
          <br />
          <div class="suspect__user-info--address">
            <strong style="padding-right: 8px;">Hobbies/Interests&nbsp;&nbsp;</strong>
            {{profile.data.hobbies}}
          </div>
          <br />
        </div>
        <div class="suspect__user-bio">
          <div class="suspect__user-bio--label">Bio</div>
          <div class="suspect__user-bio--info">{{profile.data.bio}}</div>
          <br />
        </div>
        <div class="suspect__user-photos">
          <div class="suspect__user-photos--title">Add Photos</div>
          <div class="suspect__user-photos--col">
            <template v-for="(item, index) in profile.photos">
              <div :key="index" class="suspect__user-photos--item">
                <img :src="item.media" />
              </div>
            </template>
             <div v-if="!profile.photos[0]" class="update__user-photos--item">
                <img src="../../assets/person.png" />
              </div>
            <div class="update__user-photos--item update__user-photos--item--plus">
              <input
                @change="photoUploadCheck"
                type="file"
                id="upload-profile"
                accept="image/png, image/jpeg, image/jpg"
              />
              <label for="upload-profile" class="update__user-photos--item--label">
                <img src="../../assets/plus.svg" />
              </label>
            </div>
          </div>
        </div>
        <router-link
          class="no-decoration"
          :to="{ name: 'UpdateProfile', params: { passRouteParam } }"
        ></router-link>
      </div>
    </div>
  </div>
</template>

<script>
import imageCompression from "browser-image-compression";
import LoadingGif from "../../components/loadingGif.vue";
export default {
  name: "profile",
  data() {
    return {
      profile: {},
      dataLoading: true,
      editProfile: false,
      selectedFile: "",
      multiImage: null,
      myId: null
    };
  },
  components: {
    loadingGif: LoadingGif
  },
  computed: {
    passRouteParam() {
      return this.profile.data;
    }
  },
  created() {
    const id = localStorage.getItem("id");
    this.$axios
      .get("https://api.youvegotmailagain.com/profile", {
        params: {
          id: id
        }
      })
      .then(response => {
        console.log("profile: ", response);
        this.dataLoading = false;
        this.profile = response.data;
      })
      .catch(error => {
        this.dataLoading = false;
        error;
      });
  },
  methods: {
    photoUploadCheck(event) {
      this.dataLoading = true;
      this.selectedFile = event.target.files[0];
      console.log("selected file for compress is: ", this.selectedFile);
      this.multiImage = this.handleMultiImageUpload(event);
    },
        handleMultiImageUpload(event) {
      var imageFile = event.target.files[0];
      console.log("originalFile instanceof Blob", imageFile instanceof File); // true
      console.log(`originalFile size ${imageFile.size / 1024 / 1024} MB`);

      var options = {
        maxSizeMB: 1,
        maxWidthOrHeight: 1920,
        useWebWorker: false
      };
      imageCompression(imageFile, options)
        .then(compressedFile => {
          console.log(
            "compressedFile instanceof Blob",
            compressedFile instanceof File
          ); // true
          console.log(
            `compressedFile size ${compressedFile.size / 1024 / 1024} MB`
          ); // smaller than maxSizeMB
          console.log("after compress: ", compressedFile);
          this.multiImage = compressedFile;
          console.log("blog multiImage for testing is: ", this.multiImage);
          this.selectedPhoto();
        })
        .catch(function(error) {
          console.log(error.message);
        });
    },
        selectedPhoto() {
      console.log("sending compressed multi image");
      this.myId = localStorage.getItem("id");
      const fd = new FormData();
      fd.append("image", this.multiImage);
      const config = { headers: { "Content-Type": "multipart/form-data" } };
      this.axios
        .post(
          "https://api.youvegotmailagain.com/upload_photo",
          fd,
          {
            params: {
              id: this.myId
            }
          },
          config
        )
        .then(response => {
         this.dataLoading= true;
          console.log(response);
          // this.$router.push("/profile");
          this.$toasted.success("You've successfully uploaded image");
          this.$router.go();
        })
        .catch(error => {
         this.dataLoading =true;
          this.$toasted.error("Failed to upload Image");
          console.log(error);
        });
    }
  }
};
</script>
<style lang="scss">
$color-secondary: #6c587b;

@media screen and (max-width: 550px) {
  .suspect__container {
    flex-direction: column;
  }
  .suspect__profile--img {
    max-width: 35rem;
    margin: 0 auto;
  }
  .suspect__profile--msg {
    margin: 0 auto;
    width: 30rem;
    margin-top: -4rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  }
}

.suspect {
  width: 100%;
  padding: 5.5rem 0;
  &__actions {
    display: flex;
    flex-direction: column;
  }
  &--action {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 1.6rem;
    padding: 1rem;
    &:hover {
      background-color: #c06c8415;
    }
    a {
      cursor: pointer;
      text-decoration: none;
      color: #555;
    }
    &:last-child {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      border-bottom: 1px solid rgba;
    }
  }
}
.suspect__container {
  max-width: 90rem;
  margin: 0 auto;
  display: flex;
}
.suspect__left {
  padding: 1.4rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex: 1;
  &--inner {
    width: 100%;
  }
}
.suspect {
  &__profile--img {
    border-radius: 1.2rem;
    overflow: hidden;
    margin-bottom: 1.9rem;
    height: 30rem;
    max-height: 30rem;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__profile--msg {
    background-color: $color-secondary;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.6rem;
    text-decoration: none;
    padding: 1.3rem;
    color: #fff;
    border-radius: 1rem;
  }
}
.suspect__right {
  flex-grow: 2;
  flex: 2;
  padding: 1.4rem;
}

.suspect {
  &__user-info {
    &--name {
      font-size: 2.6rem;
      display: block;
      color: #333;
    }
    &--address {
      color: #808080;
      font-size: 1.6rem;

      .strong {
        padding-right: 5px;
      }
    }
  }
  &__user-bio {
    padding: 3rem 0;
    color: #555;
    font-size: 1.8rem;
    line-height: 1.3;
    &--label {
      padding-bottom: 7px;
      display: block;
      font-weight: 700;
    }
  }
  &__user-photos {
    &--title {
      font-size: 2rem;
      color: #333;
      display: block;
      font-weight: 700;
      padding-bottom: 2rem;
      padding-top: 2rem;
    }
    &--col {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(auto-fill, minmax(100px, 6fr));
    }
    &--item {
      background-color: #dfdfdf;
      height: 13rem;
      border-radius: 3px;
      overflow: hidden;
      position: relative;
      &--label {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }
      & input[type="file"] {
        display: none;
      }
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &--plus {
        position: relative;
        & img {
          position: absolute;
          width: 30px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 30px;
          filter: invert(0.3);
        }
      }
    }
  }
}

$color-secondary: #6c587b;

@media screen and (max-width: 700px) {
  .update {
    &__container {
      flex-direction: column;
    }
    &__profile--img {
      margin: 0 auto;
      max-width: 30rem !important;
    }
    &__right {
      padding: 0 3.5rem !important;
    }
  }
}

.update {
  width: 100%;
  padding: 5.5rem 0;
}
.update__container {
  max-width: 90rem;
  margin: 0 auto;
  display: flex;
}
.update__left {
  padding: 1.4rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex: 1;
  &--inner {
    width: min-content;
    width: 100%;
  }
}
.update {
  &__profile--img {
    border-radius: 1.2rem;
    overflow: hidden;
    margin-bottom: 1.9rem;
    position: relative;
    width: 100%;
    height: 30rem;
    &-main {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }
    &--choose {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 35%;
      background-color: rgba(88, 88, 88, 0.5);
      & label {
        width: 100%;
        height: 100%;
        display: block;
        transition: transform 0.1s cubic-bezier(0.39, 0.575, 0.565, 1);
        color: pointer;
        display: flex;
        &:hover {
          transform: scale(1.05);
        }
      }
      & .choose-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        position: relative;
      }
      & img {
        position: relative;
        width: 20%;
      }
      span {
        font-weight: 700;
        font-size: 15px;
      }
      // & img {
      //   height: 60%;
      //   position: absolute;
      //   top: 50%;
      //   left: 50%;
      //   filter: invert(0.85);
      //   transform: translate(-50%, -50%);
      // }
    }
    & input[type="file"] {
      display: none;
    }
  }
}
.update__right {
  flex-grow: 2;
  flex: 2;
  padding: 1.4rem;
}

.update {
  &__user-photos {
    &--title {
      font-size: 2rem;
      color: #333;
      display: block;
      font-weight: 700;
      padding-bottom: 2rem;
      padding-top: 2rem;
    }
    &--col {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(auto-fill, minmax(100px, 6fr));
    }
    &--item {
      background-color: #dfdfdf;
      height: 13rem;
      border-radius: 3px;
      overflow: hidden;
      position: relative;
      &--label {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }
      & input[type="file"] {
        display: none;
      }
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &--plus {
        position: relative;
        & img {
          position: absolute;
          width: 30px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 30px;
          filter: invert(0.3);
        }
      }
    }
  }
  &__form {
    color: #555;

    &--title {
      font-size: 2.6rem;
      padding-bottom: 2.8rem;
    }
    &__attr {
      padding-bottom: 1.7rem;
      display: flex;
      &--label {
        padding-top: 1rem;
        font-size: 1.6rem;
        flex-grow: 2;
        flex: 2;
      }
      &--input {
        color: #555;
        flex-grow: 4;
        flex: 4;
        font-size: 1.7rem;
        line-height: 140%;
        padding: 0 0 5px 1rem;
        font-family: inherit;
        outline: none;
        display: block;
        width: 100%;
        padding: 1.1rem 1rem;
        color: #666;
        border: 2px solid rgba(0, 0, 0, 0.1);
        border-radius: 12px;
      }
    }
  }
}

#fileInput {
  display: none;
}
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.my-8 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
</style>