<template>
  <div class="suspect">
    <div v-if="dataLoading" class="suspect__container">
      <loading-gif />
    </div>
    <div v-else class="suspect__container">
      <div class="suspect__left">
        <div class="suspect__profile--img">
          <img v-if="!profile.data[0].profile_photo" src="../../assets/person.png" />
          <img v-else v-bind:src="profile.data[0].profile_photo" />
        </div>
        <div class="suspect__actions">
          <div class="suspect--action">
            <router-link :to="{ name: 'Chat', params: {id2: this.id, chat: true} }">Send Message</router-link>
          </div>
          <div class="suspect--action">
            <a @click="blockUser">Block</a>
          </div>
        </div>
      </div>
      <div class="suspect__right">
        <div class="suspect__user-info">
          <div class="suspect__user-info--name">{{profile.data[0].username}}</div>
          <br />
          <div
            class="suspect__user-info--address"
          >Age {{profile.data[0].age}}{{profile.data[0].country?`, ${profile.data[0].country}`:"" }}</div>
          <br />
          <br />
          <br />
          <div class="suspect__user-info--address">
            <strong class="strong">Relationship Status &nbsp;&nbsp;</strong>
            <span class="address--text">{{profile.data[0].relationship_status}}</span>
          </div>
          <br />
          <div class="suspect__user-info--address">
            <strong class="strong">Work Experience &nbsp;&nbsp;</strong>
            <span class="address--text">{{profile.data[0].work_experience}}</span>
          </div>
          <br />
          <div class="suspect__user-info--address">
            <strong class="strong">Hobbies/Interests &nbsp;&nbsp;</strong>
            <span class="address--text">{{profile.data[0].hobbies}}</span>
          </div>
          <br />
        </div>
        <div class="suspect__user-bio">
          <div class="suspect__user-bio--label">Bio</div>
          <div class="suspect__user-bio--info">{{profile.data[0].bio}}</div>
          <br />
        </div>
        <div class="suspect__user-photos" v-if="profile.photos[0]">
          <div class="suspect__user-photos--title">Photos</div>
          <div class="suspect__user-photos--col">
            <template v-for="(item, index) in profile.photos">
              <div :key="index" class="suspect__user-photos--item">
                <img :src="item.media" />
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import LoadingGif from "../../components/loadingGif.vue";
export default {
  name: "SuspectProfile",
  props: ["id"],
  data() {
    return {
      profile: {},
      dataLoading: true,
      recieverId: ""
    };
  },
  components: {
    loadingGif: LoadingGif
  },
  methods: {
    blockUser() {
      this.$axios
        .post(
          `https://api.youvegotmailagain.com/block?user_1=${localStorage.getItem(
            "id"
          )}&user_2=${this.recieverId}`
        )
        .then(response => {
          console.log(response);
          this.$router.go(-1);
          this.$toasted.success("This user is blocked");
        })
        .catch(error => {
          console.log(error);
          this.$toasted.error("blocking faild");
        });
    }
  },
  mounted() {
    if (this.id) {
      localStorage.setItem("receiverId", this.id);
    }
    // localStorage.setItem("receiverId", this.id);
    this.recieverId = localStorage.getItem("receiverId");
    console.log(
      "reciever id in suspect profile test is: ",
      localStorage.getItem("receiverId")
    );
    this.$axios
      .get("https://api.youvegotmailagain.com/discover_profile", {
        params: {
          user_id: this.recieverId
        }
      })
      .then(response => {
        console.log("this is response in suspect profile", response);
        this.dataLoading = false;
        this.profile = response.data;
      })
      .catch(error => {
        this.dataLoading = false;
        console.log("error:", error);
      });
  }
};
</script>
<style lang="scss">
$color-secondary: #6c587b;

@media screen and (max-width: 550px) {
  .suspect__container {
    flex-direction: column;
  }
  .suspect__profile--img {
    max-width: 35rem;
    margin: 0 auto;
  }
  .suspect__profile--msg {
    margin: 0 auto;
    width: 30rem;
    margin-top: -4rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  }
}

.suspect {
  width: 100%;
  padding: 5.5rem 0;
  &__actions {
    display: flex;
    flex-direction: column;
  }
  &--action {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 1.6rem;
    padding: 1rem;
    &:hover {
      background-color: #c06c8415;
    }
    a {
      cursor: pointer;
      text-decoration: none;
      color: #555;
    }
    &:last-child {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      border-bottom: 1px solid rgba;
    }
  }
}
.suspect__container {
  max-width: 90rem;
  margin: 0 auto;
  display: flex;
}
.suspect__left {
  padding: 1.4rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex: 1;
  &--inner {
    width: 100%;
  }
}
.suspect {
  &__profile--img {
    border-radius: 1.2rem;
    overflow: hidden;
    margin-bottom: 1.9rem;
    height: 30rem;
    max-height: 30rem;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__profile--msg {
    background-color: $color-secondary;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.6rem;
    text-decoration: none;
    padding: 1.3rem;
    color: #fff;
    border-radius: 1rem;
  }
}
.suspect__right {
  flex-grow: 2;
  flex: 2;
  padding: 1.4rem;
}

.suspect {
  &__user-info {
    &--name {
      font-size: 2.6rem;
      display: block;
      color: #333;
    }
    &--address {
      color: #808080;
      font-size: 1.6rem;

      .strong {
        padding-right: 5px;
      }
    }
  }
  &__user-bio {
    padding: 3rem 0;
    color: #555;
    font-size: 1.8rem;
    line-height: 1.3;
    &--label {
      padding-bottom: 7px;
      display: block;
      font-weight: 700;
    }
  }
  &__user-photos {
    &--title {
      font-size: 2rem;
      color: #333;
      display: block;
      font-weight: 700;
      padding-bottom: 2rem;
      padding-top: 2rem;
    }
    &--col {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(auto-fill, minmax(100px, 6fr));
    }
    &--item {
      background-color: #dfdfdf;
      height: 13rem;
      border-radius: 3px;
      overflow: hidden;
      position: relative;
      &--label {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }
      & input[type="file"] {
        display: none;
      }
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &--plus {
        position: relative;
        & img {
          position: absolute;
          width: 30px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 30px;
          filter: invert(0.3);
        }
      }
    }
  }
}
</style>