<template>
  <div class="update">
    <div v-if="Loading" class="update__container">
      <loading-gif />
    </div>
    <div v-else class="update__container">
      <div class="update__left">
        <div class="update__left--inner">
          <div class="update__profile--img">
            <img v-if="image" class="update__profile--img-main" :src="imageData" />
            <img v-else class="update__profile--img-main" src="../../assets/person.png" />
            <div class="update__profile--img--choose">
              <label for="choose-profile-photo">
                <div class="choose-icon">
                  <img src="../../assets/photo.svg" />
                  <span>Upload Profile Picture</span>
                </div>
              </label>
              <!-- <input id="choose-profile-photo" type="file" /> -->
              <input
                id="choose-profile-photo"
                type="file"
                accept="image/*"
                @change="onFileSelected"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="update__right">
        <form class="update__form">
          <div class="update__form--title">Update Profile</div>

          <!-- <div class="update__form__attr">
            <label class="update__form__attr--label">Languages</label>
            <input class="update__form__attr--input" type="text" v-model="updateData.languages" />
          </div>-->
          <div class="update__form__attr">
            <label class="update__form__attr--label">Relationship Status</label>
            <input class="update__form__attr--input" v-model="updateData.relationship_status" />
          </div>
          <div class="update__form__attr">
            <label class="update__form__attr--label">Work Experience</label>
            <textarea
              class="update__form__attr--input"
              type="textarea"
              rows="2"
              v-model="updateData.work_experience"
            />
          </div>
          <div class="update__form__attr">
            <label class="update__form__attr--label">Hobbies/Interests</label>
            <textarea
              class="update__form__attr--input"
              type="textarea"
              rows="2"
              v-model="updateData.hobbies"
            />
          </div>
          <div class="update__form__attr">
            <label class="update__form__attr--label">Bio</label>
            <textarea
              class="update__form__attr--input"
              type="textarea"
              rows="3"
              v-model="updateData.bio"
            />
          </div>
          <div v-if="!loading" class="signup__form__attr">
            <button class="signup__form__attr--submit" @click.prevent="onUpload">Update Profile</button>
          </div>
          <div v-else class="signup__form__attr">
            <button class="signup__form__attr--submit">
              <img src="@/assets/loading.gif" style="vertical-align: sub; width: 17px;" />
              Loading...
            </button>
          </div>
          <!-- <div class="update__user-photos">
            <div class="update__user-photos--title">Add Photos</div>
            <div class="update__user-photos--col">
              <div class="update__user-photos--item">
                <img src="../../assets/person.png" />
              </div>
              <div class="update__user-photos--item update__user-photos--item--plus">
                <input
                  @change="photoUploadCheck"
                  type="file"
                  id="upload-profile"
                  accept="image/png, image/jpeg, image/jpg"
                />
                <label for="upload-profile" class="update__user-photos--item--label">
                  <img src="../../assets/plus.svg" />
                </label>
              </div>
            </div>
          </div> -->
        </form>
      </div>
    </div>
  </div>
</template>
 
<script>
// import { response } from "express";
import EventBus from "../../event-bus";
import LoadingGif from "../../components/loadingGif.vue";
import imageCompression from "browser-image-compression";
export default {
  name: "updateProfile",
  data() {
    return {
      myId: "",
      selectPhoto: "",
      hasImage: false,
      image: null,
      selectedFile: "",
      multiImage: null,
      loading: false,
      Loading: false,
      imageData: ""
    };
  },
  components: {
    loadingGif: LoadingGif
  },
  computed: {
    updateData() {
      if (this.$route.params.passRouteParam) {
        return this.$route.params.passRouteParam;
      }
      return {
        work_experience: "",
        relationship_status: "",
        hobbies: "",
        bio: ""
      };
    }
  },
  methods: {
    previewImage: function(event) {
      // Reference to the DOM input element
      var input = event.target;
      // Ensure that you have a file before attempting to read it
      if (input.files && input.files[0]) {
        // create a new FileReader to read this image and convert to base64 format
        var reader = new FileReader();
        // Define a callback function to run, when FileReader finishes its job
        reader.onload = e => {
          // Note: arrow function used here, so that "this.imageData" refers to the imageData of Vue component
          // Read image as base64 and set to imageData
          this.imageData = e.target.result;
        };
        // Start the reader job - read file as a data url (base64 format)
        reader.readAsDataURL(input.files[0]);
      }
    },
    uploadToServer(file) {
      var formData = new FormData();
      formData.append("image", file);
      console.log("returned data is: ", formData);
    },
    onFileSelected(event) {
      this.previewImage(event);
      this.selectedFile = event.target.files[0];
      console.log("selected file for compress is: ", this.selectedFile);
      this.image = this.handleImageUpload(event);
      // console.log("image returned by compressor: ",this.image);
    },
    handleMultiImageUpload(event) {
      var imageFile = event.target.files[0];
      console.log("originalFile instanceof Blob", imageFile instanceof File); // true
      console.log(`originalFile size ${imageFile.size / 1024 / 1024} MB`);

      var options = {
        maxSizeMB: 1,
        maxWidthOrHeight: 1920,
        useWebWorker: false
      };
      imageCompression(imageFile, options)
        .then(compressedFile => {
          console.log(
            "compressedFile instanceof Blob",
            compressedFile instanceof File
          ); // true
          console.log(
            `compressedFile size ${compressedFile.size / 1024 / 1024} MB`
          ); // smaller than maxSizeMB
          console.log("after compress: ", compressedFile);
          this.multiImage = compressedFile;
          console.log("blog multiImage for testing is: ", this.multiImage);
          this.selectedPhoto();
        })
        .catch(function(error) {
          console.log(error.message);
        });
    },
    handleImageUpload(event) {
      var imageFile = event.target.files[0];
      console.log("originalFile instanceof Blob", imageFile instanceof File); // true
      console.log(`originalFile size ${imageFile.size / 1024 / 1024} MB`);

      var options = {
        maxSizeMB: 1,
        maxWidthOrHeight: 1920,
        useWebWorker: false
      };
      imageCompression(imageFile, options)
        .then(compressedFile => {
          console.log(
            "compressedFile instanceof Blob",
            compressedFile instanceof File
          ); // true
          console.log(
            `compressedFile size ${compressedFile.size / 1024 / 1024} MB`
          ); // smaller than maxSizeMB
          console.log("after compress: ", compressedFile);
          this.image = compressedFile;
          console.log("blog image for testing is: ", this.image);
        })
        .catch(function(error) {
          console.log(error.message);
        });
    },

    photoUploadCheck(event) {
      this.Loading = true;
      this.loading = true;
      this.selectedFile = event.target.files[0];
      console.log("selected file for compress is: ", this.selectedFile);
      this.multiImage = this.handleMultiImageUpload(event);
    },
    selectedPhoto() {
      console.log("sending compressed multi image");
      this.myId = localStorage.getItem("id");
      const fd = new FormData();
      fd.append("image", this.multiImage);
      const config = { headers: { "Content-Type": "multipart/form-data" } };
      this.axios
        .post(
          "https://api.youvegotmailagain.com/upload_photo",
          fd,
          {
            params: {
              id: this.myId
            }
          },
          config
        )
        .then(response => {
          this.Loading = false;
          this.loading = false;
          console.log(response);
          this.$router.push("/profile");
          this.$toasted.success("You've successfully uploaded image");
        })
        .catch(error => {
          this.loading = false;
          this.loading = false;
          this.$toasted.error("Failed to upload Image");
          console.log(error);
        });
    },
    onUpload() {
      this.loading = true;
      console.log("Click check");
      this.myId = localStorage.getItem("id");
      const config = { headers: { "Content-Type": "multipart/form-data" } };
      const fd = new FormData();
      fd.append("profile_photo", this.image);
      fd.append("bio", this.updateData.bio);
      fd.append("relationship_status", this.updateData.relationship_status);
      fd.append("hobbies", this.updateData.hobbies);
      fd.append("work_experience", this.updateData.work_experience);

      this.axios
        .post(
          "https://api.youvegotmailagain.com/create_profile",
          fd,
          {
            params: {
              id: this.myId
            }
          },
          config
        )
        .then(response => {
          this.updateProfilePhoto();
          this.loading = false;
          console.log(response);
          this.$router.push("/profile");
          this.$toasted.success("You’ve successfully updated your profile."); 
        })
        .catch(error => {
          this.loading = false;
          console.log(error);
          this.$toasted.error("Failed to Updated Profile");
        });
    },
    updateProfilePhoto(){
      console.log("updateProfileImageEventCalled");
      EventBus.$emit('updateImage');
    }
  }
};
</script>
 
<style lang="scss">
$color-secondary: #6c587b;

@media screen and (max-width: 700px) {
  .update {
    &__container {
      flex-direction: column;
    }
    &__profile--img {
      margin: 0 auto;
      max-width: 30rem !important;
    }
    &__right {
      padding: 0 3.5rem !important;
    }
  }
}

.update {
  width: 100%;
  padding: 5.5rem 0;
}
.update__container {
  max-width: 90rem;
  margin: 0 auto;
  display: flex;
}
.update__left {
  padding: 1.4rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex: 1;
  &--inner {
    width: min-content;
    width: 100%;
  }
}
.update {
  &__profile--img {
    border-radius: 1.2rem;
    overflow: hidden;
    margin-bottom: 1.9rem;
    position: relative;
    width: 100%;
    height: 30rem;
    &-main {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }
    &--choose {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 35%;
      background-color: rgba(88, 88, 88, 0.5);
      & label {
        width: 100%;
        height: 100%;
        display: block;
        transition: transform 0.1s cubic-bezier(0.39, 0.575, 0.565, 1);
        color: pointer;
        display: flex;
        &:hover {
          transform: scale(1.05);
        }
      }
      & .choose-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        position: relative;
      }
      & img {
        position: relative;
        width: 20%;
      }
      span {
        font-weight: 700;
        font-size: 15px;
      }
      // & img {
      //   height: 60%;
      //   position: absolute;
      //   top: 50%;
      //   left: 50%;
      //   filter: invert(0.85);
      //   transform: translate(-50%, -50%);
      // }
    }
    & input[type="file"] {
      display: none;
    }
  }
}
.update__right {
  flex-grow: 2;
  flex: 2;
  padding: 1.4rem;
}

.update {
  &__user-photos {
    &--title {
      font-size: 2rem;
      color: #333;
      display: block;
      font-weight: 700;
      padding-bottom: 2rem;
      padding-top: 2rem;
    }
    &--col {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(auto-fill, minmax(100px, 6fr));
    }
    &--item {
      background-color: #dfdfdf;
      height: 13rem;
      border-radius: 3px;
      overflow: hidden;
      position: relative;
      &--label {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }
      & input[type="file"] {
        display: none;
      }
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &--plus {
        position: relative;
        & img {
          position: absolute;
          width: 30px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 30px;
          filter: invert(0.3);
        }
      }
    }
  }
  &__form {
    color: #555;

    &--title {
      font-size: 2.6rem;
      padding-bottom: 2.8rem;
    }
    &__attr {
      padding-bottom: 1.7rem;
      display: flex;
      &--label {
        padding-top: 1rem;
        font-size: 1.6rem;
        flex-grow: 2;
        flex: 2;
      }
      &--input {
        color: #555;
        flex-grow: 4;
        flex: 4;
        font-size: 1.7rem;
        line-height: 140%;
        padding: 0 0 5px 1rem;
        font-family: inherit;
        outline: none;
        display: block;
        width: 100%;
        padding: 1.1rem 1rem;
        color: #666;
        border: 2px solid rgba(0, 0, 0, 0.1);
        border-radius: 12px;
      }
    }
  }
}

#fileInput {
  display: none;
}
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.my-8 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
</style>

