<template>
  <div>
    <div class="header">
      <div class="header__inner">
        <router-view></router-view>
      </div>
    </div>

      <div id="about" class="why-us section">
      <div class="container">
        <div class="why-us__paragraph">
          <div class="why-us__paragraph--para">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
             <br>
            <br>
            <br>
            <br>
            <br>
            <br>
             <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="para--heading">What's you've got mail again?</div>
            <div
              class="paragraph"
            >you’ve got mail again is a social platform to connect mature individuals, especially during this time of uncertainty and social isolation. Unlike some platforms, you’ve got mail again was specifically designed with one goal in mind: to create virtual pen pals between users that’s streamlined and easy to use. There are no public posts or “friends,” just profiles with messaging capabilities. Once signed up (always for free), users will be able to create anonymous usernames, take a picture or upload pictures to his or her profile, input a bio, and search specific criteria to find virtual pen pals. Now - more than ever - it is important to stay connected. Let’s get you started! </div>
          </div>
          <br>
          <br>
          <div class="why-us__paragraph--para">
            <div class="para--heading">NOTE</div>
            <div
              class="paragraph"
            >This is a website for connection and fun. Please do not give out personal information, including your full name, date of birth, social security number, address, bank account information, etc. You have the ability to block – and unblock – users at your discretion. Mature individuals (ages 13 and up) are permitted.</div>
          </div>
        </div>
      </div>
    </div>

    <div class="help section">
      <div class="container">
        <div id="whyKillTime" class="heading--primary help--heading">NOTE FROM CHRISTIE</div>
        <div class="paragraph help--paragraph">
          Hey there,
          I know this time we’re living in right now is a little strange and uncertain. That’s why I created this. My name is Christie and I work in healthcare. On my way home from the hospital a few weeks ago, I saw three gentlemen on the lawn of a nursing home sitting on chairs 6 feet apart from one another looking out over a street. Across the street were three ladies standing apart from one another shouting to the men across the road. And behind the men on the lawn were several more men sitting feet apart without anyone to shout to. What I realized in that moment is that we are desperately needing connection and it has become increasingly difficult. Right now, many nursing facilities are closed to the public and most people are staying home. If we can’t change these circumstances right now, perhaps we can change how we do things at home. But since many social platforms are a little cumbersome to use, I wanted to make something simpler. I hope you will find this messaging platform easy to make connections. You are loved.
        </div>
      </div>
    </div>
  
  </div>
</template>

<script>
export default {
  date() {
    return {
      message: ""
    };
  }
};
</script>

<style lang="scss">
$color-primary: #c06c84;
$color-secondary: #35477d;
$color-text: #555;

.landing-rest {
  z-index: -1;
}

.header {
  background: linear-gradient(
      to right bottom,
      rgba(82, 69, 69, 0.49),
      rgba(82, 69, 69, 0.49)
    ),
    url("../assets/header.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  &__inner {
    width: 100%;
  }
}

.awareness {
  &--heading {
    color: $color-secondary;
  }
  &__paragraph {
    display: flex;
    flex-direction: column;
    padding-bottom: 7rem;
    &--para {
      &:first-child {
        max-width: 70rem;
      }
      &:last-child {
        max-width: 70rem;
      }
    }
  }
  &__image {
    width: 90%;
    margin: 0 auto;
    position: relative;
    height: 35rem;
    &--img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: relative;
    }
    &--overlay {
      background: rgba(107, 94, 119, 0.26);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.why-us {
  color: #fff;
  background: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../assets/About.jpg");
  background-size: cover;
  background-position: center;
  &--heading {
    color: inherit;
    background: rgba(91, 98, 123, 0.76);
    padding: 2.5rem;
    font-weight: 400;
  }
  &__paragraphs {
    display: flex;
    padding-top: 2rem;
    flex-direction: row;
    &:last-child {
      padding-top: 20rem;
    }
    &--para {
      flex-basis: 50%;
    }
    &--para:last-child {
      padding-top: 20rem;
    }
  }
  .paragraph {
    color: #fff;
  }
}

.help {
  &--paragraph {
    max-width: 70rem;
    margin: 0 auto;
    color: $color-secondary;
    text-align: center;
  }
}
</style>